*{
    margin: 0;
    padding: 0;
}
.one{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: red;
    color: white;
    font-size: 50px;
    font-family: agency fb;
    align-items: center;
    justify-content: center;
}